@import url('https://fonts.googleapis.com/css2?family=Prata:wght@400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
:root {
    --font-family: "Prata", system-ui;
    --secondary-font-family: "Montserrat", system-ui;
    --font-weight: 400;
    --font-style: normal;
    --primary-background-color: #fff;
    --secondary-background-color: #eeeeee;
    --primary-text-color: #555;
    --secondary-text-color: #717171;
    --cursor: url('assets/cursor.png') 12 12, auto;
}

body {
    font-family: var(--font-family);
    background-color: var(--primary-background-color);
    margin: 0;
    padding: 0;
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6, p, span {
    font-family: var(--font-family);
    font-weight: var(--font-weight);
    font-style: var(--font-style);
    color: var(--primary-text-color);
    margin: 0.5rem;
    padding: 0;
    line-height: 150%;
}

a {
    font-family: var(--secondary-font-family);
    color: var(--secondary-text-color);
}

.name {
    font-size: 2rem;
    font-weight: 800;
    color: var(--primary-text-color);
}

.subtle {
    color: #ccc;
    font-size: 1.2rem;
}

.collapsible {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column; /* Stack child elements vertically */
    background-color: var(--primary-background-color);
    width: 100vw;
    height: 100vh;
    align-items: center; /* Center-align horizontally */
    justify-content: center; /* Center-align vertically */
    z-index: 999;
}

.collapsible p:hover {
    text-decoration: underline;
    cursor: pointer;
}

.collapsible.animate {
    animation: collapse 0.5s ease-in forwards;
}

.collapsible.animate > * {
    animation: fadeOut 0.5s ease-in forwards;
}

@keyframes collapse {
    0% {
        height: 100vh;
    }
    100% {
        height: 0;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.main-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.side-bar {
    position: fixed;
    top: 10vh;
    left: 0;
    height: 85vh;
    width: 20vw;
    border-right: 1px solid #ddd;
}

.content {
    margin-top: 10vh;
    margin-left: calc(20vw + 3rem);
    margin-right: 3rem;
    padding: 1rem;
    overflow-y: scroll;
    height: 85vh;
    flex: 1;
    transition: opacity 0.3s ease-in-out;
    opacity: 1;
}

li {
    color: var(--secondary-text-color);
    font-family: var(--secondary-font-family);
    font-size: 0.9rem;
    list-style: circle;
}

li:hover {
    text-decoration: underline;
}

.section {
    background-color: var(--primary-background-color);
    padding: 0.25rem 0.5rem;
    margin: 0 1rem;
    font-size: 1rem;
    color: var(--secondary-text-color);
}

.section:hover {
    background-color: var(--secondary-background-color);
    cursor: var(--cursor);
}

h3, h4 {
    color: var(--primary-text-color);
    font-size: 1.1rem;
    font-weight: 500;
}

p {
    color: var(--secondary-text-color);
    font-size: 0.9rem;
    margin: 1rem 1rem 1rem 0.5rem;
    font-family: var(--secondary-font-family);
}

.tag {
    padding: 0.2rem;
    font-size: 0.75rem;
    color: var(--primary-background-color);
    border-radius: 5px;
    text-decoration: underline;
    font-family: var(--secondary-font-family);
}

.tag:hover {
    cursor: pointer;
}

.project {
    position: relative;
    width: calc(50% - 3rem);
    padding-top: calc(50% - 3rem);
    margin: 1.5rem 1rem;
    background-size: cover;
    background-position: center;
    border-radius: 1rem;
    overflow: hidden;
    display: inline-block;
}

.projectOverlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    overflow: hidden;
    transition: height 0.3s ease-in-out;
}

.projectOverlayContent {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
}

.project:hover .projectOverlay {
    height: 100%;
}

.projectOverlay h4,
.projectOverlay p,
.projectOverlay .tag {
    margin: 0.5rem 0;
}

.projectOverlayContent p {
    font-size: 0.7rem;
    font-weight: 400;
    line-height: 150%;
    color: var(--secondary-background-color);
}

.projectOverlayContent a {
    font-size: 1rem;
    font-weight: 600;
    color: var(--primary-background-color);
    font-family: var(--font-family);
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.projectOverlayContent a:hover {
    text-decoration: underline;
}

.backBtn {
    cursor: pointer;
    text-align: center;
    font-size: 0.9rem;
    font-family: var(--secondary-font-family);
}

.backBtn:hover {
    text-decoration: underline;
}

@media screen and (orientation: portrait) {
    .side-bar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 10vh;
        border-right: none;
        border-bottom: 1px solid #ddd;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .content {
        margin-top: calc(10vh + 1rem);
        margin-left: 5vw;
        margin-right: 5vw;
    }

    body {
        margin-bottom: 20vh;
    }
    .section {
        display: flex;
        width: calc(33.33% - 2rem);
        text-align: center;
        flex-direction: column;
        margin: 1rem 0;
        padding: 0.5rem;
    }
    .project {
        position: relative;
        width: 80vw;
        padding-top: 80vw;
        margin: 1.5rem 0;
        overflow-x: hidden;
    }
    .projectOverlay {
        height: 0;
        transition: height 0.3s ease-in-out;
        overflow: hidden;
    }

    .projectOverlay.clicked {
        height: 100%;
    }
}
