@import url('https://fonts.googleapis.com/css2?family=Prata:wght@400;500;600&display=swap');
:root {
    --font-family: "Prata", system-ui;
    --font-weight: 400;
    --font-style: normal;
    --primary-background-color: #fff;
    --secondary-background-color: #eeeeee;
    --primary-text-color: #555;
    --secondary-text-color: #9c9c9c;
    --cursor: url('assets/cursor.png') 12 12, auto;
}

body {
    font-family: var(--font-family);
    background-color: var(--primary-background-color);
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* cursor: var(--cursor); */
}

h1, h2, h3, h4, h5, h6, p, span, a {
    font-family: var(--font-family);
    font-weight: var(--font-weight);
    font-style: var(--font-style);
    color: var(--primary-text-color);
    margin: 0.5rem;
    padding: 0;

}

.name {
    font-size: 2rem;
    font-weight: 600;
    color: var(--primary-text-color);
}

.subtle {
    color: var(--secondary-text-color);
    font-size: 1.2rem;
}

.collapsible {
    position: absolute;
    top: 0;
    display: flex;
    background-color: var(--primary-background-color);
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    z-index: 999;
    animation: collapse 0.5s ease-in 1s forwards;
}

.collapsible > * {
    animation: fadeOut 0.5s ease-in 1s forwards;
}

@keyframes collapse {
    0% {
        height: 100vh;
    }
    100% {
        height: 0;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.main-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.side-bar {
    position: fixed;
    top: 10vh;
    left: 0;
    /* background-color: var(--primary-text-color); */
    height: 85vh;
    width: 20vw;
    flex: none;
    border-right: 1px solid var(--secondary-text-color);
}

.content {
    margin-top: 15vh;
    margin-left: 20vw;
    padding: 1rem;
    overflow-y: scroll;
    height: 100vh;
    flex: 1;
    transition: opacity 0.3s ease-in-out; /* Smooth fade effect */
    opacity: 1; /* Default opacity */
}

li {
    color: var(--secondary-text-color);
    font-size: 0.8rem;
}

.section {
    background-color: var(--primary-background-color);
    padding: 0.25rem 0.5rem;
    margin: 0rem 1rem;
    font-size: 0.9rem;
    color: var(--secondary-text-color);
}

.section:hover {
    background-color: var(--secondary-background-color);
    cursor: var(--cursor);
}


h3, h4 {
    color: var(--primary-text-color);
    font-size: 0.9rem;
    font-weight: 500;
}

p {
    color: var(--secondary-text-color);
    font-size: 0.8rem;

}

.tag {
    /* background-color: var(--secondary-background-color); */
    padding: 0.1rem 0.2rem 0.1rem 0rem;
    font-size: 0.65rem;
    color: var(--primary-text-color);
    border-radius: 5px;
}

.tag:hover {
    text-decoration: underline;
    cursor: var(--cursor);
}

/* Container for projects */
.project {
    position: relative;
    width: calc(33.33% - 2rem); /* 3 projects per row with spacing */
    padding-top: calc(33.33% - 2rem); /* Maintain square aspect ratio */
    margin: 1rem;
    background-size: cover;
    background-position: center;
    border-radius: 1rem;
    overflow: hidden;
    display: inline-block;
}

/* Overlay that starts with 0 height */
.projectOverlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0; /* Start with 0 height */
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    overflow: hidden; /* Hide content when height is 0 */
    transition: height 0.3s ease-in-out; /* Smooth height transition */
}

/* Content inside the overlay */
.projectOverlayContent {
    position: absolute;
    bottom: 1rem; /* 1rem away from the bottom */
    left: 1rem; /* 1rem away from the left */
    right: 1rem; /* 1rem away from the right */
}

/* Show overlay on hover */
.project:hover .projectOverlay {
    height: 100%; /* Expand to full height */
}

/* Project contents (name, description, skills) */
.projectOverlay h4,
.projectOverlay p,
.projectOverlay .tag {
    margin: 0.5rem 0; /* Add spacing between elements */
    color: white;
}

.projectOverlay p {
    font-size: 0.75rem;
}

.projectOverlay h4 {
    font-size: 1rem;
    font-weight: 600;
}
